<li style="position: relative;">
  <h3><%= post_link(post) %></h3>
  <%= show_post_author(@user, post) %>
  <div class="summary"><%= post.text %></div>
  <div class="flex count" style="justify-content: flex-end;">
    <span>Comments: <%= post.comments_counter || 0 %></span>
    <span style="margin-left: 1em;">Likes: <%= post.likes_counter || 0 %></span>
  </div>
  <% if can? :destroy, post %>
    <%= button_to 'Delete Post', user_post_path(post.author_id, post), method: :delete, style: "position: absolute; top: 1.1em; right: 1em;" %>
  <% end %>
</li>