<% update_posts_counter(@user) %>
<%=render partial: 'users/user_card', locals: { user: @user }%>

<div class="card user-posts">
  <p style="margin-bottom: 2em; font-style: italic;">About <%=@user.name %>: <%= @user.bio %></p>
  <%= posts_list(User.recent_posts(@user), "user_post") %>
<div>

<button class="text-center" style="margin: auto; margin-top: 3em;">
  <%=link_to "See all posts", user_posts_path(@user), class: "more" %>
</button>