<%=render partial: 'users/user_card', locals: { user: @user }%>

<div class="card user-posts">
  <p style="margin-bottom: 2em; font-style: italic;">About <%=@user.name %>: <%= @user.bio %></p>
  <h3 style="margin-bottom: 1em">Recent Posts</h3>
  <%= posts_list(User.recent_posts(@user), "user_post") %>
<div>

<div class="text-center" style="margin-top: 3em;">
  <button class="more"><%=link_to "See all posts", user_posts_path(@user) %></button>
</div>