<div class="flex flex-center post-form">
  <h1>Create New Post</h1>
  <%= form_with model: @post, url: user_posts_path(@user) do |form| %> <%# used `rails routes to get path for new user` %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <br><br>
    <%= form.label :text %>
    <%= form.text_area :text, rows: 10 %>
    <br><br>
    <%= form.submit "Create post", class: "submit"%>
  <% end %>
</div>



