<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container center">
      <h1 class="text-center"><%= link_to 'Blog App', root_path() %></h1>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, style: "position: absolute; top: 1em; right: 1em; font-size: 1em;" %>
      <%= yield %>
    </div>
  </body>
</html>
